*,
::before,
::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: "Motiva Sans", Sans-serif;
}
a {
    text-decoration: none;
    color: #fff;
}
video {
    object-fit: contain;
}

/* header */
.header-container {
    background: #171a21;
    min-width: 940px;
    font-weight: normal;
    font-size: 14px;
    padding: 0px 16px;
}
.responsive-header {
    display: none;
}
.header {
    position: relative;
    right: -90px;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402;
    display: flex;
    justify-content: space-between;
}
.header a:hover {
  color: #67c1f5;
}
.left-header {
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: space-between;
}
.left-header img {
    margin-right: 20px;
    width: 176px;
    height: 44px;
}
.left-header a {
    color: #b8b6b4;
    line-height: 16px;
    padding: 45px 7px 7px;
}
.right-header {
  width: 250px;
  margin-top: 7px;
  font-size: 12px;
}
.right-header button {
    cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  padding: 0;
  border: none;
  background: none;
  height: 25px;
  width: 110px;
  background-color: #5c7e10;
}
.right-header a {
  color: #F5F5F5;
  font-size: 10px;
  margin-right: 7px;
  font-weight: lighter;
  letter-spacing: 1px;
}

/* banner */
.banner {
    position: relative;
    width: 100%;
}
.fullscreen-bg {
    z-index: 1;
    width: 100%;
    overflow: hidden;
}
.fullscreen-mobile-bg {
    display: none;
    z-index: 1;
    width: 100%;
    overflow: hidden;
}
.fullscreen-bg-video {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
}
.navbar {
    position: absolute;
    top: 24px;
    left: 225px;
    right: 0;
    height: 35px;
    width: 940px;
    z-index: 100;
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
    box-shadow: 0 0 3px rgb(0 0 0 / 40%);
    border-radius: 2px;
}
.nav-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 0;
}
.nav-item {
  height: 100%;
  width: auto;
}

.nav-item:hover {
  background: linear-gradient(60deg, #67c1f5 0%,#417a9b 100%);
  border-radius: 2px;
}
.nav-item button {
    color: #d9d9d9;
    border: none;
    font-size: 13px;
    text-shadow: 0px 2px 3px rgb(0 0 0 / 30%);
    background: none;
    height: 100%;
    padding: 10px;
    font-weight: 600;
    text-align: center;
}
.nav-item img {
    position: relative;
    left: 20px;
    width: 27px;
    height: 27px;
    margin-left: -12px;
    vertical-align: middle;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: #d9d9d9;
    padding: 12px 30px;
    font-size: 14px;
    display: block;
}
.dropdown-content a:hover {background: linear-gradient(60deg, #67c1f5 0%,#417a9b 100%);;}
.dropdown:hover .dropdown-content {display: block;}
.search-area {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 210px;
}
.search-box {
    position: relative;
    right: 3px;
    background-color: #316282;
    border-radius: 4px;
    color: #fff;
    outline: none;
    height: 27px;
    padding: 0px 6px;
    display: flex;
}
.search-box input {
    text-shadow: 1px 1px 0px rgb(255 255 255 / 10%);
    font-family: "Motiva Sans", Sans-serif;
    border: none;
    background-color: transparent;
    color: #eeeeee;
    margin-top: 2px;
    margin-left: 8px;
    width: calc( 100% - 25px - 8px );
    outline: none;
    line-height: 26px;
}
.search-box a {
    position: absolute;
    top: 0px;
    right: 0px;
}
.search-box a:hover {
    background-color: rgb(15, 33, 110);
    border-radius: 4px;
}
.search-box img {
    height: 27px;
    width: 27px;
    border-radius: 4px;
}

/* main */
main {
    background-color: #1b2838;
}
.items-container {
    /* display: flex; */
    margin: 0 100px;
    padding-top: 20px;
}
.items-container h2 {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: #67c1f5;
}
.display-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.items-wrapper {
    width: 340px;
    flex-basis: 0 0 25%;
}
.card-item {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 8px;
    margin-top: 30px;
    cursor: pointer;
}
.card-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  filter: brightness(150%);
}
.card-item img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.item-info {
    text-align: center;
    padding: 8px 12px 8px 8px;
    font-weight: 600;
    color: #d9d9d9;
}
.item-info p:nth-child(2) {
    text-align: right;
    margin-right: 12px;
    color: green;
}
.loader img {
    z-index: 401;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  top: -60px;
  padding: 20px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  background-color: #363c44;
    opacity: 0.8;
}
main .showing_game {
  width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin-bottom: 36px;
}
main .show_detail {
  flex-direction: column;
  margin-left: 5px;
}
main .show_detail a {
  text-decoration: none;
  color: inherit;
}
.show_detail .title-contain {
  color: white;
  font-family: Motiva Sans, Arial, Helvetica, sans-serif;
  font-size: 1.7em;
  line-height: 32px;
  text-overflow: ellipsis;
  font-weight: normal;
  padding: 0;
}
.show_detail .price {
  color: #acdbf5;
  padding: 0 6px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 17px;
}
.show_detail .img_detail {
  display: flex;
  width: 100%;
  margin: 0px auto;
  margin-top: 20px;
  padding: 16px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.show_detail .game_details .game_description {
  max-height: 200px;
  max-width: 400px;
  color: #316282;
  overflow: hidden;
  font-size: 14px;
  line-height: 15px;
  padding: 0 16px;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.show_detail .game_details .game_informations {
  font-size: 14px;
  padding: 16px;
  min-width: 94px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #66c0f4;
  line-height: 20px;
}
.show_detail .game_details .game_informations p:nth-child(3){
    display: flex;
    flex-wrap: wrap;
}
.show_detail .game_details .game_informations p:nth-child(3) a {
    padding-left: 5px;
}
.show_detail .tags_contain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px auto;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  font-size: 16px;
  color: #f5f5f5;
  padding: 16px;
}

.show_detail .tags_contain .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.show_detail .tags_contain .tags .tag {
  display: inline-block;
  line-height: 19px;
  padding: 0 7px;
  color: #67c1f5;
  background-color: rgba(103, 193, 245, 0.2);
  border-radius: 2px;
  cursor: pointer;
  margin: 4px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #67c1f5;
  font-size: 14px;
}
/* footer */
.recommendations-container {
    /* display: none; */
    background-color: #000;
    padding: 25px 0;
}
.recommendations {
    text-align: center;
    width: 940px;
    padding: 0 16px;
    margin: 0 auto;
    font-weight: normal;
}
.recommendations span {
    font-size: 26px;
    color: #67c1f5;
}
.recommendations p {
    font-size: 16px;
    color: #8f98a0;
    padding-top: 20px;
    padding-bottom: 15px;
}
.recommendations .bold {
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
}
.recommendations .bold:hover {
    color: #67c1f5;
}
.recommendations button {
    background: none;
    padding: 0px 15px;
    border-radius: 4px;
    border: 2px solid #172030;
    height: 36px;
    width: 90px;
    font-size: 16px;
    color: #D2E885;
    background: linear-gradient( to bottom, #799905 5%, #536904 95%);
}
.footer {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px 0 60px 0;
    background: #171a21;
}
.footer-content {
    width: 940px;
    margin: 0px auto;
    padding-top: 16px;
}
.rule {
    height: 8px;
    border-top: 1px solid #363c44;
}
.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo img{
    height: 26px;
    width: auto;
}
.footer-text {
    display: inline-block;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 10px;
    color: #8F98A0;
}
.footer-text a {
    color: #C6D4DF;
}
.valve-links {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    float: left;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
    font-size: 13px;
}
.valve-links a {
    color: #C6D4DF;
}
.valve-links img {
    vertical-align: bottom;
}

/* responsive iphoneX */
@media only screen and (max-width : 375px) {
    .header-container {  
        min-width: 375px;
        padding: 0;
        background: #171a21;
        padding: 0px;
    }
    .header {
        display: none;
    }
    .responsive-header {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        max-width: 375px;
        height: 62px;
    }
    .responsive-menu-logo img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        width: 36px;
        height: 36px;
        margin-left: 10px;
    }
    .responsive-header-logo {
        display: flex;
        justify-content: center;
    }
    .responsive-header-logo img {
        position: relative;
        top: 13px;
        height: 36px;
    }
    .fullscreen-bg {
        display: none;
    }
    .fullscreen-mobile-bg {
        display: block;
    }
    .navbar-container {
        display: block;
        width: 375px;
        height: 251px;  
        background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
    }
    .navbar {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        box-shadow: none;
        background: none;
        border-radius: 2px;
    }
    .nav-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .nav-item:hover {
        background: linear-gradient(60deg, #67c1f5 0%,#417a9b 100%);
    }
    .nav-item {
        width: 100%;
    }
    .nav-item button {
        color: #d9d9d9;
        border: none;
        font-size: 13px;
        background: none;
        height: 100%;
        padding: 10px 100px;
        font-weight: 600;
        text-align: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav-item:nth-child(2) img {
        position: relative;
        left: 37%;
    }
    .nav-item:nth-child(3) img {
        position: relative;
        left: 43%;
    }
    .dropdown-content {
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    .items-container .genres {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
    .card-item {
        position: relative;
        left: -24px;
        width: 130%;
    }
    main .showing_game {
        width: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        /* margin-bottom: 36px; */
    }
    .show_detail .img_detail {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin: 0px auto;
        margin-top: 20px;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.5) 100%
        );
    }
    .show_detail .tags_contain {
        padding: 0px 10px 10px;
    }

    .show_detail .game_details .game_description {
        margin-top: 10px;
    }
    .recommendations-container {
        display: none;
    }
    .footer {
        display: none;
    }
}